@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 40, 40, 52;
  --background-end-rgb: 40, 40, 52;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 40, 52;
    --background-end-rgb: 40, 40, 52;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

@layer components {
  .timeline-img {
    @apply h-24 w-24 object-cover rounded-full shadow-md border-4 border-custom_accent2 xs:absolute md:mx-auto md:left-0 md:right-0;
  }
  .timeline-container {
    @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16;
  }
  .timeline-container-left {
    @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-custom_accent2 xs:top-11 xs:left-26 md:left-14;
  }
  .timeline-pointer-left {
    @apply md:left-auto md:right-14;
  }
}

@layer base {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
