.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3b3d59;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
  width: 300px;
}

.menu-link-item-holder a {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 100%;
}

@media (max-width: 900px) {
  .menu-link-item-holder a {
    font-size: 40px;
  }
}

.menu-link-item-holder {
  box-shadow: inset 0 0 0 0 #282834;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.menu-link-item-holder:hover {
  box-shadow: inset 300px 0 0 0 #282834;
}
