.wave-bg {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-bg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 125px;
}

.wave-bg .shape-fill {
  fill: #3b3d59;
}
